#quiz{
    display: none;
}

.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: xx-large;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    /* border-color: #007A33; */
    /* border: 2.5px solid rgba(13, 123, 59, 0.397); */
    border: 2.5px solid #007A33;
    border-radius: 10px;
    display: block;
    width: 100%;
    font-size: x-large;
    color: #007A33;
    width: 80%;
}

.answerList:hover, .answerList:focus{
    background-color: #007A33;
    color: whitesmoke;
    width: 80%;
}

.status{
    height: 20px;
    width: 80%;
    background-color: #f0eee6;
    /* background-color: whitesmoke; */
    border: 2.5px solid #007A33;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    background-color: #007A33;
    border: 3px solid #007A33;
    border-radius: 20px;
}
